.VPSidebarItem.level-0 > .items {
  padding-left: 0 !important;
}

.VPSidebarItem .items {
  border-left: none !important;
  padding-left: 12px !important;
}

.results span.title.main {
  background: none;
}

.results [data-markjs="true"] {
  background: transparent !important;
  color: var(--vp-c-brand-1) !important;
}

.VPFeature .icon img {
  width: 32px !important;
  height: 32px !important;
}

.VPHero .image-src {
  width: 300px !important;
  height: auto !important;
}

.animation {
  margin-left: 12px;
}

.home-hero-lottie {
  margin: 0 auto;
}

.image-container {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}